<div class="panel panel-default">
  <div class="panel-heading"><app-crime-title [title]="crime.category"></app-crime-title></div>
  <div class="panel-body">
    <div class="col-xs-12 col-sm-6">
      <p><strong>May 2017</strong></p>
    </div>
    <div class="col-xs-12 col-sm-6">

      <p>Approx <strong><app-distance-away
         [lat1]="userlat"
         [lat2]="crime.location.latitude"
         [lng1]="userlng"
         [lng2]="crime.location.longitude"
         [units]="units"
         ></app-distance-away></strong> from you </p>
    </div>
    <div class="col-xs-12">
      <p>Where:<strong>{{crime.location.street.name}}</strong></p>
    </div>
    <div class="col-xs-12">
      <p *ngIf="crime.outcome_status === null">Outcome: <strong>No outcome available</strong></p>
      <p *ngIf="crime.outcome_status !== null">Outcome: <strong>{{crime.outcome_status.category}}</strong></p>
    </div>
  </div>
</div>
