<div class='school-item'>
      <div class='panel panel-default'>
        <div class='panel-heading'>{{school.school.Establishment_name}}</div>
        <div class='panel-body'>
          <div class='col-xs-12 col-sm-6 col-md-6'>
            Distance:Approx <strong><app-distance-away
               [lat1]="userlat"
               [lat2]="school.school.Latitude"
               [lng1]="userlng"
               [lng2]="school.school.Longitude"
               [units]="units"
               ></app-distance-away></strong>
          </div>

          <div class='col-xs-12 col-sm-6 col-md-6'>
            Age Range:<strong>{{school.school.Statutory_lowest_age}}-{{school.school.Statutory_highest_age}}yrs </strong>
          </div>
          <div class='col-xs-12 col-sm-6 col-md-6'>
            Type of school:<strong>{{school.school.Type_of_establishment}}</strong>
          </div>
          <div class='col-xs-12 col-sm-6 col-md-6'>
            Gender: <strong>{{school.school.Gender}}</strong>
          </div>
          <div class='col-xs-12 col-sm-6 col-md-6'>
          Religious character: <strong>{{school.school.Religious_character}}</strong>
          </div>
          <div class='col-xs-12 col-sm-6 col-md-6'>
            Admissions Policy: <strong>{{school.school.Admissions_policy}}</strong>
          </div>
          <div class='col-xs-12 col-sm-6 col-md-6'>
            Boarders: <strong>{{school.school.Boarders}}</strong>
          </div>
          <div class='col-xs-12 col-sm-6 col-md-6'>
            Headteacher: <strong>{{school.school.Headteacher}}</strong>
          </div>

        </div>
      </div>
    </div>
