<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default"  *ngIf="usePostCode">
    <app-postcodeform (reset)="togglePostcodeForm()" (gotoMain)="redirectToMain()"></app-postcodeform>
    </div>
    <div class="panel panel-default"  *ngIf="!usePostCode">
      <div class="panel-body">
        <div *ngIf="!choosePostcode">
          <h1>Howdy!</h1>
          <p>This app allows you to use your current location (or a postcode), to find useful information about your area.</p>
          <div class="push-down">
            <button *ngIf="!gettingLocation" class="btn btn-success" (click)="getUserLocation()">
              <i class="fa fa-fw fa-location-arrow"></i> Use my location
            </button>
            <button *ngIf="gettingLocation" class="btn btn-success" (click)="getUserLocation()">
              <i class="fa fa-fw fa-spinner fa-spin"></i> One moment..
            </button>
            <button class="btn btn-default" (click)="togglePostcodeForm()">
              <i class="fa fa-fw fa-envelope"></i> Explore a postcode
            </button>
          </div>
        </div>
        <div *ngIf="choosePostcode">
        <h1>Success!</h1>
        <p *ngIf="postcodes.length > 0 && postcodes.length < 2">We have found your device location and found your postcode.</p>
        <p *ngIf="postcodes.length >= 2">We have found your device location, and some possible postcodes. Please select your postcode from the list below. If you're not sure, pick the first in the list. </p>

        <ul class="list list-unstyled">
        <li *ngFor="let postcode of postcodes" ><button class="btn btn-default btn-full-width" (click)="selectPostcode(postcode.postcode)">{{postcode.postcode}}</button></li>
      </ul>
        </div>






      </div>
    </div>
  </div>
</div>
