<div class="panel panel-default">
  <div class="panel-heading"><h4>{{court.name}}</h4></div>
  <div class="panel-body">
    <div class="col-xs-12 col-sm-6">
      <h4>Address</h4>
      <ul class="list list-unstyled">
        <li *ngFor="let address_line of court.address.address_lines">{{ address_line }}</li>
        <li>{{court.address.town}}</li>
        <li>{{court.address.county}}</li>
        <li>{{court.address.postcode}}</li>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-6" *ngIf="court.areas_of_law.length > 0" >
      <h4>Areas of law</h4>
      <ul class="list list-unstyled list-inline">
        <li *ngFor="let area of court.areas_of_law"><i class="fa fa-fw fa-check"></i> {{ area }}</li>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-6" *ngIf="court.types.length > 0" >
      <h4>Type of court</h4>
      <ul class="list list-unstyled list-inline">
        <li *ngFor="let courttype of court.types"><i class="fa fa-fw fa-check"></i> {{ courttype }}</li>
      </ul>
    </div>



  </div>
</div>
