<div class="panel-body">
  <h1>Postcode Explorer</h1>
  <p *ngIf="!postcodeError">Please enter the postcode you want to use as the location to explore...</p>
  <div class="alert alert-danger" *ngIf="postcodeError"><p>{{postcodeErrorMessage}} </p></div>
  <form class="form form-inline" (submit)="getLatLngFromPostcode()">
    <div class="form-group" [ngClass]="{ 'has-error':  postcodeError }"><label for="postcode-input">Postcode</label><br />
      <input type="text" required [(ngModel)]="postcode" name="postcode" class="form-control" placeholder="eg: DA1 1UX"><button class="btn btn-success" type="submit"><i class="fa fa-fw fa-check"></i></button><button class="btn btn-default" type="button" (click)='togglePostcodeForm()'><i class="fa fa-fw fa-times"></i></button></div>
  </form>
</div>
