<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">

      <div class="panel-body" *ngIf="ready && currentSet == 'courts'">
        <div class="clearfix">
          <h1 class="pull-left">Courts in your region</h1><button (click)="setPageToMain()" class="btn btn-primary pull-right">Back to main menu</button>
        </div>
        <p>Found {{ courts.length }} courts in your area</p>

        <app-court-item *ngFor="let court of courts" [userlat]="userlat" [userlng]="userlng" [court]="court.item.data"></app-court-item>
      </div>

      <div class="panel-body" *ngIf="ready && currentSet == 'crime'">
        <div class="clearfix">
          <h1 class="pull-left">Local Crime</h1><button (click)="setPageToMain()" class="btn btn-primary pull-right">Back to main menu</button>
        </div>
        <p>Found {{ crimes.length }} crimes in your area</p>
        <app-crime-item *ngFor="let crime of crimes" [crime]="crime" [userlat]="userlat" [userlng]="userlng"></app-crime-item>
      </div>
      <div class="panel-body" *ngIf="ready && currentSet == 'schools'">
        <div class="clearfix">
          <h1 class="pull-left">Local Schools</h1><button (click)="setPageToMain()" class="btn btn-primary pull-right">Back to main menu</button>
        </div>
        <p>Found {{ schools.length }} schools in your area</p>

        <app-school-item-component *ngFor="let school of schools" [school]="school" [userlat]="userlat" [userlng]="userlng"></app-school-item-component>




      </div>
      <div class="panel-body" *ngIf="ready && currentSet == 'broadband'">
        <div class="clearfix">
          <h1 class="pull-left">Local Broadband Stats</h1><button (click)="setPageToMain()" class="btn btn-primary pull-right">Back to main menu</button>
        </div>
        <div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <h3>Download Speeds</h3>
            <p>Min Download Speed: <strong>{{broadband[0].Min_download_speed_Mbits}} Mbit/s</strong></p>
            <p>Max Download Speed: <strong>{{broadband[0].Max_download_speed_Mbits}} Mbit/s</strong></p>
            <p>Avg Download Speed: <strong>{{broadband[0].Avg_download_speed_Mbits}} Mbit/s</strong></p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <h3>Upload Speeds</h3>
            <p>Min Upload Speed: <strong>{{broadband[0].Min_ul_spd_Mbits}} Mbit/s</strong></p>
            <p>Max Upload Speed: <strong>{{broadband[0].Max_ul_spd_Mbits}} Mbit/s</strong></p>
            <p>Avg Upload Speed: <strong>{{broadband[0].Avg_ul_spd_Mbits}} Mbit/s</strong></p>
          </div>
          <div class='col-xs-12 col-sm-12 col-md-12'>
            <h4>About this data</h4>
            <p>The broadband data used on this site if from OFCOMS statistics for <a href="https://www.ofcom.org.uk/research-and-data/telecoms-research/broadband-research/uk-home-broadband-performance-2016?SQ_VARIATION_100598=0" target="_blank">UK home broadband performance</a></p>
          </div>
        </div>
      </div>
      <div class="panel-body" *ngIf="ready && currentSet == 'main'">
        <h1>Explore your area</h1>
        <p>Great, we have your location! Use the menu below to view data for your surrounding area</p>
        <div class='col-xs-12 col-sm-4 col-md-3 col-lg-3 text-center'>
          <div class='menu-item'>
            <a class='menu-item-link' (click)='doCrime()'>
              <i class='fa fa-exclamation-triangle fa-fw menu-icon'></i>Crime
            </a>
          </div>
        </div>
        <div class='col-xs-12 col-sm-4 col-md-3 col-lg-3 text-center'>
          <div class='menu-item'>
            <a class='menu-item-link' (click)='doBroadBand()'>
              <i class='fa fa-wifi fa-fw menu-icon'></i>Broadband
            </a>
          </div>
        </div>
        <div class='col-xs-12 col-sm-4 col-md-3 col-lg-3 text-center'>
          <div class='menu-item'>
            <a class='menu-item-link' (click)='doSchools()'>
              <i class='fa fa-mortar-board fa-fw menu-icon'></i>Schools
            </a>
          </div>
        </div>

        <div class='col-xs-12 col-sm-4 col-md-3 col-lg-3 text-center'>
          <div class='menu-item'>
            <a class='menu-item-link' (click)='doCourts()'>
              <i class='fa fa-mortar-board fa-fw menu-icon'></i>Courts
            </a>
          </div>
        </div>
      </div>
      <div class="panel-body" *ngIf="ready && currentSet == 'school'">
        <div class="clearfix">
          <h1 class="pull-left">Local Schools</h1><button (click)="setPageToMain()" class="btn btn-primary pull-right">Back to main menu</button>
        </div>
      </div>
      <div class="panel-body" *ngIf="!ready">
        <h1>Oops!</h1>
        <p>Your location data does not seem to have been set! Please click the button below to set your location and proceed.</p>
        <div class="text-right">
          <a class="btn btn-primary" routerLink='/'>Setup my location</a>
        </div>
      </div>
    </div>
  </div>
</div>
