/* You can add global styles to this file, and also import other style files */

body{
  padding-top:60px;

}
.btn{
  margin-left:4px;

}
.btn-full-width{
  width: 100%;
  margin-bottom:5px;
}

.menu-item a{
  background-color: #3097D1;
  border:1px solid #3097D1;
  color:white;
  border-radius: 5px;
  margin:5px;
  display: block;
  text-align: center;
  transition: all 0.3s;
}
.menu-item a:hover{
  background-color: white;
  border:1px solid #3097D1;
  color:#3097D1;
  border-radius: 5px;
  margin:5px;
  display: block;
  text-align: center;
}
i.menu-icon{
  font-size:3em;
  display: block;
  margin:5px auto;
  padding: 10px;
}
a.menu-item-link{
  text-decoration: none;
}
a.menu-item-link:hover{
  text-decoration: none;
}
.menu-box{
  margin:0 auto;
}
